{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="container">
    <h1 class="text-center">Works log</h1>
    <div class="d-flex flex-column align-items-center">
        {% for job in arr %}
        {% if not job.is_finished %}
        <div style="width: 800px; margin-bottom: 20px;" class="card">
            <div class="card-header">
                <h2>Job #{{ loop.index }}</h2>
            </div>
            <div class="card-body">
                <h3 class="card-title"><strong>{{ job.job_name }}</strong></h3>
                <p class="card-text"><strong>Job creator:</strong> {{ job.customer.name }} {{ job.customer.surname }}</p>
                <p class="card-text"><strong>Work size:</strong> {{ job.work_size }}</p>
                <p class="card-text"><strong>Description:</strong> {{ job.description }}</p>
                <p class="card-text"><strong>Salary:</strong> {{ job.salary }}</p>
                <p class="card-text"><strong>Is finished:</strong>
                    {% if job.is_finished %}
                        <span class="text-success">Yes</span>
                    {% else %}
                        <span class="text-danger">No</span>
                    {% endif %}
                </p>
            </div>
            <div class="card-footer">
                {% if current_user.is_authenticated and current_user.id == job.customer.id %}
                    <a href="/jobs_edit/{{ job.id }}" class="btn btn-warning">Изменить</a>
                    <a href="/jobs_delete/{{ job.id }}" class="btn btn-danger">Завершить</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="text-center">
    {% if current_user.is_authenticated and current_user.role == 'customer' %}
        <a href="/add_job" class="btn btn-secondary">Добавить работу</a>
    {% endif %}
</div>

{% endif %}
{% endblock %}